# Dependency directories
node_modules/
**/node_modules/

# Production/build outputs
dist/
**/dist/
build/
**/build/
out/
**/out/
*.tsbuildinfo

# Environment and secret files
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
